.header__logo {
    color: var(--acent-color);
    font-family: var(--logo-font);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-align: center;
}

.button {
    background-color: inherit;
}
